.App {
  text-align: center;
}

nav {
  margin: 1rem;
}

a {
  color: MidnightBlue;
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  color: blue;
}

body { 
  /* background-image: url("https://i.pinimg.com/originals/96/2b/24/962b248db22af01ad2e2864f5ee66b56.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background-image: linear-gradient(to right, LightSkyBlue  , LightYellow );
}